.about {
    // background-color: rgba(0,0,0, .5);
    height: 100%;
    position: relative;
    .portrait{
        height: 200px;
        width: 200px;
        background-image: url('https://res.cloudinary.com/feedmejoy/image/upload/v1607404310/IMG_1028_wgg5tm.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
        border-radius: 20px;
    }

    p{
        // font-size: 18px;
        text-align: center;
        padding: 20px;
    }
    .flip-container{
        position: relative;
        width: 100%;
        height: auto;
        transition: transform 1s;
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 1000px;
        
        position: relative;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
      }
      
      .flip-card.flip .flip-card-inner{
        transform: rotateY(180deg);
        height: auto;
        min-height: 200px;
        
      }
      
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
        
        background-position: center;
        background-repeat: none;
        background-size: cover;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      
      .flip-card-back {
        position: relative;
        transform: rotateY(180deg);
        border-radius: 20px;
        min-height: 200px;
      }
    
}

.flip-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px){
  justify-content: space-around;
  flex-direction: row;
  }
  .flip-card{
    margin: 10px;
    @media (min-width: 1024px){
      width: 300px;
      height: 300px;
      
      }
  }
  
  
  .flip-card-back{
    p{
      margin: auto;
      font-size: 14px;
      
    }
    @media (min-width: 1024px){
        height: auto;
        min-height: 300px;
        p{
          font-size: 20px;
        }
      
    }
  }
}
