// imports
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$sunglow: #FDCA40;
$iceblue: #5cfaff;
$rose: #DF2935;
$rosewood: #590D12;
$rale: 'Raleway Dots', cursive;
$londrina: 'Londrina Outline', cursive;
$cody: 'Cody', sans-serif;
$comfortaa: 'Comfortaa', cursive;
$monserrat: 'Monserrat', sans-serif;


// style
body{
  overflow-x: hidden;
}





