$sunglow: #FDCA40;
$iceblue: #5cfaff;
$rose: #DF2935;
$rosewood: #590D12;
$rale: 'Raleway Dots', cursive;
$londrina: 'Londrina Outline', cursive;
$monserrat: 'Monserrat', sans-serif;

$comfortaa: 'Comfortaa', cursive;

.raining-page {
    overflow-x: hidden;
    // background-image: url(https://res.cloudinary.com/feedmejoy/image/upload/v1605221989/james-dominko-8c0QW4lVUtI-unsplash_v2l2ti.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    // height: 100vh;
    background-color: #111111;

    .header{
      .navbar{
        border-bottom: 3px solid #5cfaff;
        font-family: $monserrat;
        background-color: rgba(23,23,23,.75);
        .navbar-brand{
          color: white;
          
        }
        button.navbar-toggler{
          background-color: violet;
        }
      }
      
    }

    .rain-container{
        height: 1px;
    }

    h1{
        font-family: $comfortaa;
        color: $iceblue;
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $iceblue;
        text-align: center;
        padding: 50px 0;
        margin: 0;
        margin-top: 30px;
        span:nth-of-type(1){
            animation: letter-flicker 5s linear infinite;
        }
        span:nth-of-type(2){
            animation: letter-flicker 2s linear infinite;
        }
        span:nth-of-type(3){
            animation: letter-flicker 3s linear infinite;
        }
        span:nth-of-type(4){
            animation: letter-flicker 6s linear infinite;
        }
    }

    h3{
      font-family: $comfortaa;
      color: white;
      text-align: center;
    }

    #portfolio{
      @media (min-width: 768px){
        
      }
      .card-container{
        border: 2px solid;
        border-radius: 10px;
        // box-shadow: 0 0 30px 2px #5cfaff;
        margin-bottom: 60px;
        transition: .5s;
        // opacity: 0.6;
        &:hover{
          // animation: glow 3s ease-in;
          box-shadow: 0 0 30px 2px #5cfaff;
          transform: scale(1.1);
        }
        p{
          color: white;
          font-family: $monserrat;
        }
        .card-links{
          a{
            font-family: $comfortaa;
            color: violet;
          }
        }
      }
    }
     

    .about{
      .portrait{
        border: 2px solid $iceblue;
      }
      p{
        color: white;
        font-family: $monserrat;
        font-size: 20px;
        .react-reveal{
          display: inline;
          color: violet;
          font-family: $comfortaa;
          font-weight: bold;
          &:nth-of-type(2){
            color: $iceblue;
          }
        }
        .Typewriter{
          color: $sunglow;
          font-family: $comfortaa;
        }
      }
    }

    .skills{
      p{
        color: white;
        font-family: $monserrat;
        text-align: center;
        span{
          font-weight: bold;
          color: violet;
        }
      }
      div{
        height: 150px;
      }
    }

    .contact{
      h1{
        font-size: 28px;
        margin: 0;
        padding: 0;
        padding-top: 20px;
      }
      .icons{
        display: flex;
        justify-content: space-around;
        margin: 20px;
        padding: 20px;
        div{
          color: white;
          a{
            color: white;
          }
        }
      }
      h4{
        font-family: $comfortaa;
        color: violet;
        text-align: center;
      }
      p{
        font-family: $monserrat;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 15px;
        &:last-of-type{
          font-size: 22px;
          color: $iceblue;
        }
      }
      div:last-of-type{
        height: 150px;
      }
    }

    .footer{
      background-color: #111111;
      border-top: 2px solid $iceblue;
      
      p{
        padding: 10px;
        color: white;
        font-family: $comfortaa;
      }
      
    }
}


.rain-container{
  overflow-x: hidden;
}

.rain {
    background: white;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #ffffff 100%);
    height: 50px;
    position: absolute;
    width: 1px;
    overflow: hidden;
  }
  
  $rain: 150;
  
  @for $i from 1 through $rain {
    $top: (random(50) + 50) * 1%;
    $left: random(100) * 1%;
    $opacity: (random(30) + 30) * 0.01;
    $delay: random(20) - 1s;
  
    .rain:nth-of-type(#{$i}) {
      animation-name: rain-#{$i};
      animation-delay: $delay;
      animation-duration: random(6) + 4s;
      animation-iteration-count: infinite;
      left: $left;
      opacity: $opacity;
      top: -$top;
    }
  
    @keyframes rain-#{$i} {
      from {
        left: $left;
        opacity: $opacity;
        top: -$top;
      }
      to {
        opacity: 0;
        top: $top + 20%;
      }
    }
  }

  @keyframes border-glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px violet, 0 0 40px violet, 0 0 50px violet, 0 0 60px violet, 0 0 70px violet;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px $iceblue, 0 0 40px $iceblue, 0 0 50px $iceblue, 0 0 60px $iceblue, 0 0 70px $iceblue, 0 0 80px $iceblue;
    }
  }

  @keyframes letter-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px $iceblue;
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px $iceblue;
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px $iceblue;
    }
}